    .modal-Background {
        background: rgba(32, 35, 41);
        /* position: fixed;
        display: flex;
        justify-content: left;
        align-items: left; */
        color: white;
        text-emphasis-color: white;
    }
