    .modal-Background {
        background: rgba(32, 35, 41, 0.8);
        position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-emphasis-color: white;
    }
